{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "experimentalObjectRestSpread": true,
    "forOf": true,
    "jsx": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "templateStrings": true
  },
  "rules": {
    "arrow-spacing": 2,
    "camelcase": [1, {"properties": "never"}],
    "comma-dangle": [1, "always-multiline"],
    "guard-for-in": 1,
    "indent": [2, 4, {"SwitchCase": 0}],
    "max-len": [2, 120, 4],
    "no-cond-assign": [2, "always"],
    "no-dupe-args": 1,
    "no-dupe-keys": 1,
    "no-duplicate-case": 1,
    "no-empty": 1,
    "no-eq-null": 1,
    "no-eval": 1,
    "no-inner-declarations": [2, "functions"],
    "no-irregular-whitespace": 1,
    "no-mixed-spaces-and-tabs": 1,
    "no-new": 0,
    "no-spaced-func": 2,
    "no-sparse-arrays": 1,
    "no-trailing-spaces": 2,
    "no-undef": 2,
    "no-underscore-dangle": 0,
    "no-unneeded-ternary": 1,
    "no-unreachable": 1,
    "no-unused-vars": [2, {"vars": "all", "args": "after-used"}],
    "one-var": [2, "never"],
    "quote-props": [2, "as-needed", {"keywords": true}],
    "quotes": [2, "single"],
    "semi-spacing": [2, {"before": false, "after": true}],
    "semi": [1, "never"],
    "space-after-keywords": [2, "always"],
    "space-before-function-paren": [1, {"anonymous": "never", "named": "never"}],
    "strict": [2, "global"],
    "use-isnan": 2,
    "valid-typeof": 2
  }
}
