function getCounter(startValue = 0) {
  return function() {
    startValue = startValue + 1
    return startValue
  }
}

const counter = getCounter(42)
counter() // 43
counter() // 44

const another = getCounter(42)
another() // 1
another() // 2
counter() // 45
