let a
typeof a // undefined

a = true
typeof a // boolean

let b = 42
typeof b // number
b = 2.7182818284
typeof b // number

let c = 'Hello world'
typeof c // string

let iamArray = [1, 2, 4]
typeof iamArray // object

let iamObject = {
  name: 'John Smith',
  age: 42,
}
typeof iamObject // object

const sum = function (a, b) { return a + b }
typeof sum // function

// Comparation

42 == 42
42 == '42'   // true
42 === '42'  // false
42 !== '42'  // false

{ foo:'bar' } == { foo:'bar' }  // ?
[1, 2, 3] == [1, 2, 3]  // ?

// null value

const person = { name: 'John Smith' }
console.log(person.country) // undefined

const person = {
  name: 'John Smith',
  country: null,
}
console.log(person.country) // null
