var foo = 'bar'

const bar = []
bar = 'foo'  // throws an error

bar.push(42)
console.log(bar) // [42]

let baz = []
baz = 42

for (let i = 0; i < 10; i++) {
  console.log(i)
}
console.log(i) // i is not defined

for (var i = 0; i < 10; i++) {
  console.log(i)
}
console.log(i) // 10

const person = {
  name: 'Smith',
  age: 42,
  country: 'GB'
}
const { name, age } = person

const items = [1, 2, 3, 4]
const [first, second, ...rest] = items

const str = 'Some string!'
str.length  // 12

str[0] // S
str[str.length - 1] // !

for (let letter of str) {
  console.log(letter)
}

str[0] = 'A'
str.toUpperCase() // SOME STRING
str.toLowerCase() // some string
console.log(str) // 'Some string'

str
  .replace('!', '.')
  .replace(' ', '+')

'A' + 'B' === 'AB'

const s = 'test'
s.slice(2, s.length)  // st
