{
    hidden: false,
    host: "www.w3.org",
    href: "http://www.w3.org/TR/REC-DOM-Level-1",
    id: "",
    name: "",
    ...
    parentElement: {
        accessKey: "",
        accessKeyLabel: "",
        align: "",
        childElementCount: 2,
    }
}